.layout {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: repeat(15, 1fr);
  background: #07112d;
}

.sidebar {
  height: 100vh;
  position: fixed;
  color: white;
}

.dashboard {
  grid-column-start: 3;
  grid-column-end: 16;
  background: #f8f9fb;
  border-radius: 30px;
}

@media screen and (max-width: 740px) {
  .layout {
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .sidebar {
    display: none;
  }
  .dashboard {
    grid-column: 1;
    border-radius: 0;
  }
}
