.layout {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: repeat(15, 1fr);
  background: #07112D;
}

.sidebar {
  height: 100vh;
}

.dashboard {
  grid-column-start: 3;
  grid-column-end: 16;
  background: #F8F9FB;
  border-radius: 30px;
}

@media screen and (max-width: 740px) {
  .layout {
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .sidebar {
    display: none;
  }
  .dashboard {
    grid-column: 1;
  }
}